body {
  margin: 0;
  padding: 0;
  .ff-primary;
  color: #383838;
}

h1, h2, h3, h4 {
  .ff-secondary;
  //font-weight: 600;
}

.as-hover {
  .as-item {
    transition: all 200ms;
    .as-hidden {
      transition: all 200ms;
      //display: none;
      opacity: 0;
    }
    &:hover {
      background: @mdc-grey-50;
      .as-hidden {
        opacity: 1;
        //display: inline-block;
      }
    }
  }
}

.ax-hover {
  transition: all 200ms;
  .ax-hidden, .ax-hidden-d {
    transition: all 200ms;
    display: none;
  }
  &:hover {
    background: @mdc-blue-50;
    .ax-hidden {
      display: inline-block;
    }
    .ax-hidden-d {
      display: block;
    }
  }
}


.animated-short {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}